VITE_API_ENDPOINT=https://g79hs8yb1i.execute-api.ap-southeast-1.amazonaws.com
VITE_COGNITO_DOMAIN=secure-share-dev.auth.ap-southeast-1.amazoncognito.com
VITE_COGNITO_USER_POOL_ID=ap-southeast-1_uhJSMv7Ru
VITE_COGNITO_CLIENT_ID=609767nccd4a58ukf3h3rdah7j
